.layout-main-container {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 1rem 1rem 1rem 1cqb;
    transition: margin-left var(--layout-section-transition-duration);
    overflow-y: auto;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
